

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

#container {
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	left: 38%;
	top: 50%;
	z-index: 2;
}

#canvas {
	border-radius: 300px;
	position: absolute;
	z-index: 1;
	display: inline-block;
}

/*body {
	position: relative;
}*/
.canvas {
	width: 1918px;
	height:935px;
	border: 1px solid #000;
	margin: 0 auto;
	position: relative;
	animation-delay: 2000s;
	background: #70c4c6;
	animation-name: daylight;
animation-duration:30s;
	animation-iteration-count: infinite;
	overflow: hidden;
	animation-timing-function: linear;
}
.eclipse {
	width: 600px;
	height: 600px;
	/*border: 1px solid #000;*/
	position: absolute;
	left:60%;
	top:20%;
	animation-name: time;
animation-duration:800s;
	animation-iteration-count: infinite;
	z-index: 0;
	animation-timing-function: linear;
}


.cloud {
	width: 50px;
	height: 45px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top:20px;
	left: -20%;
	animation-name: cloud;
	animation-duration: 70s;
	animation-iteration-count: infinite;
	z-index: 1;
}
.cloud::before {
	content:'';
	width: 35px;
	height: 30px;
	background-color: #fff;
	margin-left: -20px;
	margin-top: 10px;
	display: block;
	border-radius: 50%;
}
.cloud::after {
	content:'';
	width: 20px;
	height: 20px;
	background-color: #fff;
	position: absolute;
	right: -10px;
	top: 17px;
	border-radius: 50%;
}
.cloud.a {
	top:150px;
	animation-duration: 55s;
}
.cloud.b {
	top:100px;
	left:-15%;
	animation-duration: 38s;
}
.cloud.c {
	top:250px;
	left:-10%;
	animation-duration: 25s;
}
.land {
	width: 100%;
	height: 320px;
	position: absolute;
	left:-50px;
	bottom: -120px;
	background-color: #83a81c;
	border-radius: 50%;
	z-index: 1;
	animation-name: land;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
.land::before {
	width: 100%;
	height: 200px;
	content: '';
	position: absolute;
	left: 40%;
	top: 20%;
	border-radius: 50%;
	background-color: #6F8F18;
	transform: rotate(-15deg);
	animation-name: land1;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
.tree {
	width:10px;
	height:100px;
	background-color: #766257;
	left: 200px;
	position: absolute;	
}
.tree::before {
	content: '';
    position: absolute;
    bottom: 125%;
    left: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 43px 20px;
    border-color: transparent transparent #ff6961 transparent;
    z-index: 1;

	animation-name: windy;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
.tree::after {
	content: '';
	position: absolute;
	bottom:100%;
	left:-25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 30px 60px 30px;
	border-color: transparent transparent  #CD5C5C transparent;	
}
.tree.a {
	transform: scale(0.5);
	left: 250px;
}
.tree.b {
	transform: scale(0.75);
	left: 280px;
}
.tree.c {
	transform: scale(1.5);
	left:450px;
	top: 100px;
}
.tree.d {
	transform: scale(1.25);
	left: 530px;
	top: 80px;
	z-index: 0;
}


@keyframes time {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@keyframes daylight {
	0% {  background-color: #70c4c6; }
	15% {  background-color: #524b64; }
	40% { background-color: #354a4a; }
	70% { background-color: #354a4a; }
	80% {  background-color: #e2b553; }
	100% {  background-color: #70c4c6;}
}
@keyframes land {
	40% { background-color: #96be29; }
	70% { background-color: #96be29;}
}
@keyframes land1 {
	40% { background-color: #6F8F18; }
	70% { background-color: #6F8F18;}
}
@keyframes cloud {
	0% { transform: translateX(0); }
	100% { transform: translateX(850px); }
}
@keyframes rotate {
	0% { transform: rotate(0); }
	100% { transform: rotate(360deg); }
}
@keyframes fader {
	0% { opacity: 0; }
	15% { opacity: 0; }
	40% { opacity: 1; }
	60% { opacity: 0.4; }
	70% { opacity: 1; }
	80% {  opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blinker {
	0% { opacity: 0; }
	18% { opacity: 0; }
	25% { opacity: 1; }
	40% { opacity: 0; }
	60% { opacity: 1; }
	70% {  opacity: 0; }
	100% { opacity: 0; }	
}
@keyframes blinker-1 {
	0% { opacity: 0; }
	30% { opacity: 0; }
	40% { opacity: 1; }
	60% { opacity: 1; }
	80% {  opacity: 0; }
	100% { opacity: 0; }	
}
@keyframes windy {
	15% {  transform: translateX(5px); transform: rotate(5deg); }
	80% {  transform: translateX(7px); transform: rotate(7deg);}
	80% {  transform: translateX(5px); transform: rotate(5deg);}
}
@keyframes wind {
	0% {  left: -800px; opacity: 0 }
	15% { opacity: 1; }
	70% { left: 800px; opacity: 1;}
	80% {  left: 800px; opacity: 0;}
	100% {  left: -1000px; opacity: 0;}
}


@keyframes snowday {
	0% {
		top: 0;
	}
	100% {
		top: 100%;
	}
}
.snow {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 0;
}
.snow.fall {
	animation-name: snowday ;
	animation-duration: 5s;
}
